---
layout: layouts/home.njk
description: Ayudo a empresas y equipos a entregar software que funcione y a tiempo, manteniendo a clientes sumamente felices y leales.
date: Last Modified
lang: es
---

<div class="banner">
  <div>
    <h1>Carlos Molina</h1>
    <blockquote>Ayudo a empresas y equipos a entregar software que funcione y a tiempo, manteniendo a clientes sumamente felices y leales.</blockquote>

    <div class="socialnetworks">
      <p class="handle">@carlosmolinaav</p>
      <a target="_blank" href="https://www.instagram.com/carlosmolinaav/" title="@carlosmolinaav en Instagram"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSvgIcon-root MuiSvgIcon-fontSizeLarge css-18wq8ra" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="InstagramIcon" tabindex="-1" title="Instagram"><path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8 1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5 5 5 0 0 1-5 5 5 5 0 0 1-5-5 5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3z"></path></svg></a>
      <a target="_blank" href="https://www.facebook.com/carlosmolinaav/" title="@carlosmolinaav en Facebook"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSvgIcon-root MuiSvgIcon-fontSizeLarge css-18wq8ra" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="FacebookIcon" tabindex="-1" title="Facebook"><path d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m13 2h-2.5A3.5 3.5 0 0 0 12 8.5V11h-2v3h2v7h3v-7h3v-3h-3V9a1 1 0 0 1 1-1h2V5z"></path></svg></a>
      <a target="_blank" href="https://www.youtube.com/@carlosmolinaav" title="@carlosmolinaav en Youtube"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSvgIcon-root MuiSvgIcon-fontSizeLarge css-18wq8ra" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="YouTubeIcon" tabindex="-1" title="YouTube"><path d="M10 15l5.19-3L10 9v6m11.56-7.83c.13.47.22 1.1.28 1.9.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83-.25.9-.83 1.48-1.73 1.73-.47.13-1.33.22-2.65.28-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44-.9-.25-1.48-.83-1.73-1.73-.13-.47-.22-1.1-.28-1.9-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83.25-.9.83-1.48 1.73-1.73.47-.13 1.33-.22 2.65-.28 1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44.9.25 1.48.83 1.73 1.73z"></path></svg></a>
    </div>
  </div>
  <img src="/img/about/me/carlos.jpg" class="profile-picture" alt="A picture of the   9   <h1>Carlos Molina</h1>
 . author, Carlos Molina, resting in a couch">
</div>
